{% extends 'base.html' %} {% block main %}
<h1>Email Storing Application</h1>
{% for message in get_flashed_messages() %}
<h2>{{ message }}</h2>
{% endfor %}
<form action="/" method="post" enctype="multipart/form-data">
  <div class="mb-3">
    <label for="formFile" class="form-label">Insert new branch data</label>
    <input class="form-control" name="file" type="file" id="formFile" />
  </div>

  <input type="submit" class="btn btn-primary" value="Submit" />
</form>

<!-- show file in upload folder -->
<div class="container-fluid">
  <h1>List of Data</h1>
    <div class="list-group"></div>
   {% for file in files %}

    <a href={{url_for('upload', filename=file)}} class="list-group-item list-group-item-action active">{{file}}</a>
    <br>

  {% endfor %}
    </div>
</div>

{% endblock %}
